<form method="post" action="/Comments/New?pinId=@ViewBag.Pin.Id">
    <div>
        <label for="Text">Comment Text</label>
        <br />
        <input type="text" name="Text" id="Text" />
        <br /><br />
    </div>
    <button type="submit">Add Comment</button>
</form>