@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center" style="margin-top: 20vh;">
    <h1 class="display-4" style="font-weight: bold; color: darkred;">Welcome to Pinterest</h1>
    <p>Find new ideas to try!</p>
    <form method="get" action="/Pins/Index">
        <button type="submit" class="btn btn-primary btn-lg" style="background-color: darkred; border-color: darkred;">Explore</button>
    </form>
</div>